router bgp 64512
 no bgp default ipv4-unicast
 no bgp default ipv6-unicast
 no bgp network import-check
 
{{- range $r := .NodesIPv4 }}
 neighbor {{ . }} remote-as 64512
{{- end }}

{{- range $r := .NodesIPv6 }}
 neighbor {{ . }} remote-as 64512
{{- end }}

{{- if .NodesIPv4 }}
 address-family ipv4 unicast
{{- range $r := .NodesIPv4 }}
  neighbor {{ . }} route-reflector-client
  neighbor {{ . }} activate
  neighbor {{ . }} next-hop-self 
{{- end }}
  network 192.168.1.0/24
  network 192.169.1.1/32
 exit-address-family
{{- end }}

{{- if .NodesIPv6 }}
 address-family ipv6 unicast
{{- range $r := .NodesIPv6 }}
  neighbor {{ . }} route-reflector-client
  neighbor {{ . }} activate
  neighbor {{ . }} next-hop-self
{{- end }}
  network 2001:db8::/128
 exit-address-family
{{- end }}

{{- if .SsVRF }}
router bgp 64512 vrf {{ .SsVRF }}
 no bgp default ipv4-unicast
 no bgp default ipv6-unicast
 no bgp network import-check
 
{{- range $r := .SsNodesIPv4 }}
 neighbor {{ . }} remote-as 64512
{{- end }}

{{- range $r := .SsNodesIPv6 }}
 neighbor {{ . }} remote-as 64512
{{- end }}

{{- if .SsNodesIPv4 }}
 address-family ipv4 unicast
{{- range $r := .SsNodesIPv4 }}
  neighbor {{ . }} route-reflector-client
  neighbor {{ . }} activate
  neighbor {{ . }} next-hop-self 
{{- end }}
  network 192.168.1.0/24
  network 192.169.1.1/32
 exit-address-family
{{- end }}

{{- if .SsNodesIPv6 }}
 address-family ipv6 unicast
{{- range $r := .SsNodesIPv6 }}
  neighbor {{ . }} route-reflector-client
  neighbor {{ . }} activate
  neighbor {{ . }} next-hop-self
{{- end }}
  network 2001:db8::/128
 exit-address-family
{{- end }}
{{- end }}

